.fa {
    font-size: 30px;
}

.fa-brands {
    margin-right: 20px;
    border-radius: 10px;
}

.fa-vk {
    color: blue;
}

.fa-instagram {
    color: rgb(219, 8, 113);
}

.fa-vk:hover {
    background-color: crimson;
}

a {
    text-decoration: none;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.header {
    color: #222222;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
}

.paragraph {
    color: #7d7987;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}

.small-header {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.image {
    border-radius: 10px;
    width: 500px;
}

.form-input {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.interaction-button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.body {
    font-family: sans-serif;
}